# Configuration
.env
.envrc

# IDE
.idea/**
.vscode/

# System files
*.egg-info
.coverage
.ipynb_checkpoints
.DS_Store
**/__pycache__/
build/
dist/
**/.python_version

# Models & Data
*.csv
**/raw_data_**/
models/

# Docker
docker_volume/**
